body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #fff;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    display: block;
    max-width: 100%;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding: 0;
}
.gallery-item {
    width: calc((100% - 48px) / 3);

}

.basicLightbox__placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.basicLightbox img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 0 auto;
}








